/* This will center all the content within the main container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Styles for all table headers */
  .table-header {
    background-color: lightblue;
    text-align: center;
    align-items: center;
  }

  .statusMessage{

    text-align: center;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
  }
  
  /* Styles for the URL holder */
  .url-holder {
    background-color: rgb(212, 208, 208);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 10px;
    display: block; /* Makes the input behave like a block element */
    width: auto;
    border: none;
    text-align: center;
    flex-direction: column;
    font-size: 30px;
  }

  .methodButton{
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    text-align: center;
   
   
  }
  
  /* Styles for table contents */
  .table-content {
    background-color: rgb(212, 208, 208);
    color: rgb(0, 0, 0);
    text-align: center;
    
  }

    .topic{

      display: flex;
      flex-direction: row;
      height: 40px;
   
     }

    .total_table {
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      align-items: center; /* This will center the tables horizontally */
      width: 90%; /* This ensures that the flex container takes full width */
      justify-content: center;
    }

  
  
  /* Styles for the table itself to ensure it takes full width */
  .table {
    width: 100%;
    margin-bottom: 20px; /* Adds space below the table */
  }
  
  /* Styles for the share link */
  .share-link {
    background-color: rgb(212, 208, 208);
    color: rgb(0, 0, 0);
    text-decoration: none;
    align-items: center;
    margin-left: auto;
  }
  
  /* Button styling */
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    height: auto;
    align-items: center;
    justify-content: center;

    /*cursor: pointer;*/
  }
  
  /* Radar chart container */
  .radar-chart-container {
    margin-top: 100px;
    margin-left: auto;
  }

  
  .share-container{
    margin-top: 50px;
    align-items: center;
    margin-left: 10px;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }